<h1>Edit <%= @shoe.category %></h1>

<form action="/shoes/<%= @shoe.id %>" method="post">
  <input name="_method" id="hidden" type="hidden" value="PUT">

  
  Category:
  <input type="text" name="shoe[category]" value="<%= @shoe.category %>">
  <br>
  <br>
  Size:
  <input type="text" name="shoe[size]" value="<%= @shoe.size %>">
  <br />
  <br />
 Brand:
  <input type="text" name="shoe[brand]" value="<%= @shoe.brand %>">
  <br />
  <br />
  <input type="submit" value="Edit A Shoes!">
  <br />
  <br />
  <p><a href="/logout">logout</a></p>
</form>
<br />

