
<h2>Category:</h2>
<h3> <%= @shoe.category %></h3>
<br />
<br />
<h2>Size:</h2>
<h3><%= @shoe.size %></h3>
<br />
<br />
<h2>Brand:</h2>
<h3><%= @shoe.brand %></h3>

<form action="/shoes/<%= @shoe.id%>/edit" method="get">
  <input type="submit" value="Edit A Shoes!" >  
</form>

<form action="/shoes/<%= @shoe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">  
  <input type="submit" value="Delete A Shoes!" >  
  <br />
  <br />
  <p><a href="/logout">logout</a></p>
</form>